/* The sidebar menu */
.sidenav {
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #D3D3D3; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  border: 1px solid #D3D3D3;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.nottitle {
  padding: 6px 8px 6px 16px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #111;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #ffffff;
}

/* Style page content */
.main {
  margin-left: 170px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

.primedis {
  font-family: "Nova Square";
  font-size: 100px;
}
.bronzetextcss {
  color: #CD7F32;
  font-size: 10px;
}

.bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
  grid-auto-rows: minmax(100px, auto);
  border: 10px solid;
  border-color: black;
  border-radius: 10px;
}

.bottom a {
  text-decoration: none;
  font-size: 20px;
  color: #111;
  display: block;
}

.bottom a:hover {
  color: silver;
}

ul {
  list-style: none;
}

.fl1 {
  border-right: 10px solid;
  border-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fl2 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 10px solid;
  border-color: black;
}
.fl3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fl1 h2, .fl2 h2, .fl3 h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.copyr {
  background-color: grey;
  grid-column: 1/4;
}
.incopy {
  display: flex;
  align-items: center;
  justify-content: center;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 98%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 300px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  .bottom {grid-template-columns: repeat(1, 1fr);}
}

